<a class='anchor' id='top'></a>
<h1>Reading and Writing CSV and Excel Files</h1>


<h2> Contents</h2>

* [Read CSV](#rCSV)
* [Write CSV](#wCSV)
* [Read Excel](#rExcel)
* [Write Excel](#wExcel)

<hr/>

In [2]:
import pandas as pd

* [back to top](#top)
<a class='anchor' id='rCSV'></a>
<h2>Read CSV</h2>

You can clean up data as you import it with the <code>header=</code> and <code>na_values=()</code> methods. The <b>best</b> method so far is the creation of a 'dictionary' for the <code>na_values</code> function:

In [41]:
sd = pd.read_csv(r'C:\Users\Work\Desktop\Python Lessons\Data Science\Data Science w Py Course\Data For Use\stock_data.csv',
                na_values={                    
                    'eps': ['not available','n.a'],
                    'revenue': ['not available','n.a', -1],
                    'price': ['not available','n.a', -1],
                    'people': ['not available','n.a'],
                })
sd

  tickers    eps  revenue   price         people
0  GOOGLE  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

<b>Clean up messy data using <code>.fillna(FILL_VAL)</code></b>

<b>Replace individual data using <code>df.col_name.replace([old_val)],new_val)</code></b>:

In [27]:
sd.revenue = sd.revenue.replace([sd.revenue[sd.revenue==-1]],0)
sd.revenue

0     87
1    484
2     85
3     50
4      0
Name: revenue, dtype: int64

<hr/>

* [back to top](#top)

<a class='anchor' id='wCSV'></a>
<h2>Write CSV</h2>

To create a CSV file, you use the <code>df.to_csv('CSV_NAME.csv')</code> method. 

The file will automatically populate the CSV just like it looked in the DataFrame. 

To keep the index from being imported into the new csv file, just add the parameter <code>index=False</code>.

Write CSV Parameters: 

* <code>to_csv('', index=False)</code> : to export without indexes
* <code>to_csv('', columns=[])</code> : specify which columns you want to export.
* <code>to_csv('', header=False)</code> : to export without headers

<hr/>

* [back to top](#top)

<a class='anchor' id='rCSV'></a>
<h2>Read Excel</h2>

In [74]:
def convert_people_cell(cell):
    if cell=='n.a.' or cell=='NaN':
        return 'sam walton'
    return cell

ds = pd.read_excel(r'C:\Users\Work\Desktop\Python Lessons\Data Science\Data Science w Py Course\Data For Use\data_stock.xlsx',
                   'stock_data', converters = {
                       'people': convert_people_cell
                   })
ds

  tickers    eps  revenue   price         people
0  GOOGLE  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3     RIL    NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

<b>Converter Function to clean data</b>

0       larry page
1              NaN
2       bill gates
3    mukesh ambani
4       ratan tata
Name: people, dtype: object

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_4860/439656048.py, line 3)

<hr/>

* [back to top](#top)

<a class='anchor' id='rCSV'></a>
<h2>Write Excel</h2>

To write an Excel file, you use simply use the <code>df.to_excel('new.xlsx', sheet_name="NAME", startrow=1,startcol=2, index=False)</code> method.

If you want to write two or more separate DataFrames to excel, then you'd use the <code>pd.ExcelWriter()</code> method.

Sytax:<br> 
<code> with pd.ExcelWriter() as writer:
         df_Name1.to_excel(writer, sheet_name='NAME')
         df_Name2.to_excel(writer, sheet_name='NAME2')
         ...</code>