In [41]:
import numpy as np 
import pandas as pd 
pd.options.display.float_format = '{:,.1f}'.format
df = pd.read_csv(r'C:\Users\Work\Desktop\Python Lessons\Data Science\Data Science w Py Course\Data For Use\adult.data.csv')

<h1 align="center">Demographic Data Analysis Project</h1>

In this project I must analyze demographic data using Pandas. I'm given a dataset of demographic data that was extracted from the 1994 Census database. 

Here's a snapshot of the data:

In [82]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

<hr/>
Using Pandas, the following questions must be answered:

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

- What is the average age of men?

- What is the percentage of people who have a Bachelor's degree?

- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

- What percentage of people without advanced education make more than 50K?

- What is the minimum number of hours a person works per week?

- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

- What country has the highest percentage of people that earn >50K and what is that percentage?

- Identify the most popular occupation for those who earn >50K in India.

    
<hr/>

<h3 align="center">My Approach</h3>

1. <h4><ins>Examining the DataFrame</ins></h4>
In this phase I'll review key aspects of the data to see if the data looks fine as is, the dimensions, shape and summary of the DataFrame. Key methods used here will be: <code>.head() | .tail() | .shape | .info() | .describe() | .dtype</code>.

2. <h4><ins>Data Drilldown</ins></h4>
Here, I'll look to drill a far down into the data needed to start recovering potential formulas for the prompt answers. This will be guided largely by the pseudcode I previously created. 

3. <h4><ins>Flesh out my Pseudocode</ins></h4>


```python
def calculate_demographic_data(print_data=True):
 #Read data from file
 df = pd.read_csv('whateverFile')

#How many people of each race are represented in this dataset? 
race_count = #A series that returns unique text for races and count of people using '.value_counts()'


#What is the average age of men?

## Get a filtered column of only 'Male' values
## Find the mean age of all males
average_age_men = # age_of_Males.mean()

# What is the percentage of people who have a Bachelor's degree?

## Filter the 'education' column to obtain only the number of Bachelor degrees via '.shape[0]
## Obtain the total number of education row via '.shape[0]'
## Divide Bachelor degree / All education
percentage_bachelors = # bachelors/all*100

# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

## Get total of all Bach,Mast,Dr.(BMD) in 'education' column
## Find number of BMD who earn '>50K'
## Divide all BMD ppl who earn '>50K' / all BMD ppl
higher_education = # len(BMD>50K) / len(BMD)*100

# What percentage of people without advanced education make more than 50K?

## Get total of people without BMD in 'education' column
## Find number of noBMD who earn '>50K'
## Divid all noBMD ppl who earn '50K' / all noBMD ppl
lower_edcuation = # len(noBMD>50K) / len(noBMD)*100

# What is the minimum number of hours a person works per week?

## Find the minimum number in the 'hours-per-week' column
min_work_hours = # hours-per-week.min()

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

## Find the number of ppl who work the hours-per-week.min()
num_min_workers = # len(df[(df[HPW]  == min_work_hours])
## Find the number of ppl who work min hours/week & earn 50K
## Divide ppl who work min & 50K / ppl who work min
rich_percentage = # workMin&50K / workMin

# What country has the highest percentage of people that earn >50K and what is that percentage?
highest_earning_country = None
highest_earning_country_percentage = None

# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None
```

<hr/>

<h2 align="center">My Solution</h2>

<h4>How many people of each race are represented in this dataset?</h4>

In [67]:
#Check the unique names in the 'race' column and their associated counts
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [71]:
#Assign the pd.Series to the 'race_count' variable:
race_count=df['race'].value_counts()

<hr/>

<h4>What is the average age of men?</h4>

In [81]:
#getting the total number of 'Male' only values
df[df['sex']=='Male']['age']

0        39
1        50
2        38
3        53
7        52
         ..
32553    32
32554    53
32555    22
32557    40
32559    22
Name: age, Length: 21790, dtype: int64

In [78]:
#assigning total male count to variable
maleTot = df[df['sex']=='Male']

In [80]:
#Finding the mean and rounding to 1 decimal point
round(maleTot['age'].mean(),1)

39.4

<hr/>

<h4>What is the percentage of people who have a Bachelor's degree?</h4>

In [97]:
#Drill down into total rows people with bachelors:
a = df[df['education']=='Bachelors'].shape[0]
a

5355

In [96]:
#Drill down into total rows of people with education:
b = df['education'].shape[0]
b

32561

In [93]:
#Find the percentage and round to tenths:
round(a/b*100,1)

16.4

<hr/>

<h4>What percentage of people with advanced education (B,M,Dr.) make more than $50K?

What percentage of people without advanced education make more than $50K?</h4>

In [141]:
#Set variable to hold number of degree holders making >50K:
hEd = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
hEd2 = len(hEd[hEd['salary']=='>50K'])/len(hEd)*100
hEd3 = round(hEd2,1)


print(f'Degree @ $50K: {hEd3}%')

Degree @ $50K: 46.5%

In [142]:
#Set variable to hold number of noDegree making >50K
lEd = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]
lEd2 = len(lEd[lEd['salary']=='>50K'])/len(lEd)*100
lEd3 = round(lEd2,1)

print(f'NO Degree @ $50K: {lEd3}%')

NO Degree @ $50K: 17.4%

In [143]:
#Answering the prompt by rounding to nearest tenth: 
higher_education_rich = hEd3
lower_education_rich = lEd3

In [145]:
print(f'Percentage of people making more than $50K by degree.\nCollege Degree: {higher_education_rich}%\nNo Degree:      {lower_education_rich}%')

Percentage of people making more than $50K by degree.
College Degree: 46.5%
No Degree:      17.4%

<hr/>

<h4>What is the minimum number of hours a person works per week?<br>What percentage of the people who work the minimum number of hours per week have a salary of more than $50K?</h4>

In [147]:
#Using '.min' function to find the minimum hours worked per week:
df['hours-per-week'].min()

#Answering the prompt: 
min_work_hours = df['hours-per-week'].min()

#Result:
print(f'The minimum number of hours a person works per week: {q1} hour(s).')

The minimum number of hours a person works per week: 1 hour(s).

In [158]:
#% of workers working minimum and earning >50K:
#Calculation: Find the total # of people in the HPW colum that equal 'min_work_hours'
r1 = len(df[df['hours-per-week']==min_work_hours])


print(f'There are {r1} people who work {min_work_hours} hour(s) and earn more than $50K')

There are 20 people who work 1 hour(s) and earn more than $50K

In [161]:
'''
Calculation: 

Total(#ppl working min & >50K) / Total(#ppl working min)

'''

r2 = round(len( df[ (df[ 'hours-per-week' ]==min_work_hours) & (df['salary'] == '>50K')])/r1*100,1)

#Answer prompt
rich_percentage = r2

print(f'{rich_percentage}% of minimum hour workers earn more than $50K')

10.0% of minimum hour workers earn more than $50K

<hr/>

<h4>What country has the highest perecentage of people that earn >$50K?<br>What is that percentage?</h4>

In [175]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [189]:
rich_countries = df.loc[df['salary']== '>50K', 'native-country'].value_counts()

In [190]:
all_countries = df['native-country'].value_counts()

In [202]:
top_country = (rich_countries/all_countries).fillna(0).sort_values(ascending=False).index[0]
print(top_country)

Iran

In [203]:
#Calcuate the % of top_country--
##Find #ppl in top country earning >50K
earnersIn_top_country = len(df[ (df['native-country'] == top_country) & (df[ 'salary' ] =='>50K') ])
print(earnersIn_top_country)

##Find total #ppl in top country
top_country_total = len(df[ df[ 'native-country'] == top_country])

##Answer prompts
highest_earning_country = top_country
highest_earning_country_percentage = round(earnersIn_top_country/top_country_total*100,1)

print(f'Highest Earning Country Percentage: {highest_earning_country_percentage}')

18
Highest Earning Country Percentage: 41.9

<hr/>

<h4>Identify the most popular occupation for those who earn >$50K in India.</h4>

In [207]:
df[df['native-country']=='India']['occupation'].value_counts()

Prof-specialty       40
Sales                14
Adm-clerical         11
Exec-managerial      10
Craft-repair          5
Tech-support          5
Other-service         4
Protective-serv       4
Handlers-cleaners     3
Transport-moving      2
Machine-op-inspct     2
Name: occupation, dtype: int64

In [205]:
#Return a list of unique occupation names as index with count of people who earn >50K: 
df[ (df['salary'] == ">50K") & (df['native-country'] == 'India')]['occupation'].value_counts().index[0]

'Prof-specialty'

In [209]:
#Answer prompt: 
top_IN_occupation = df[ (df['salary'] == ">50K") & (df['native-country'] == 'India')]['occupation'].value_counts().index[0]

print(f'The top occupation in India is {top_IN_occupation}.')

The top occupation in India is Prof-specialty.